* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.seccion-uno { 
    height: 594px;
    width: 100%;
    background-image: url("./img/puntitos.png");
}

@media(min-width: 768px) {
    .seccion-uno {
        padding-bottom: 0px;
        height: 616px;
        width: 100%;        
    }
}

.puntitos {
    position: absolute;
    width: 375px;
    height: 742px;
    left: -294px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 145px;
    margin-left: 17px;
}

@media(min-width: 768px) {
    .header {
           margin-left: 0;
    }
}

.logo {
    cursor: pointer;
    margin-top: 10px;
}

@media(min-width: 768px) {
    .logo {
           margin-left: 80px;
           height: 109px;
    }
}

.presentacion {
    cursor: pointer;
    font-family: "Roboto";
    font-size: 24px;
    width: 428px;
    display: none;
}

@media(min-width: 768px) {
    .presentacion {
        margin-right: 103px;
        display: inline-flex;
        justify-content: space-between;
    }
}

.parrafo-presentacion {
    margin: 0;
}

.burger {
    display: grid;
    width: 36px;
    height: 32px;
    gap: 7px;
    margin-right: 20px;
}

@media(min-width: 768px) {
    .burger {
           display: none;
    }
}

.rectangulo { 
    background-color: #141414;
}


.bienvenida {
    font-family: "Open Sans";
    text-align: center;
    width: 291px;
    margin-left: 42px;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1px;
}

@media(min-width: 768px) {
    .bienvenida {
        margin: 0;
        left: 80px;
        top: 260px;
    }
    .bienvenida-y-foto {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        margin-top: 100px;
    }
}

.mi-foto {
    width: 318px;
    height: 300px;
    margin-left: 31px;
}

@media(min-width: 768px) {
    .mi-foto {
        width: 435px;
        height: 395px;
        margin: 0;
    }
}

.seccion-dos {
    height: 538px;
    width: 100%;
    top: 616px;
    background-color: #141414;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .seccion-dos {
        width: 100%;
        height: 538px;
        display: block;
    }
    
}

@media(min-width: 768px) {
    .contenedor-parrafos-seccion-dos {
        width: 532px;
        margin-left: 50%;
        margin-top: 132px;
    }
}
.soy-seba {
    color: #FAFAFA;
    font-family: "Open Sans";
    font-size: 32px;
    letter-spacing: -2px;
    text-align: center;
}

@media(min-width: 768px) {
    .soy-seba {
        text-align: left;
    }
}

.parrafo-seccion-dos {
    color: #FAFAFA;
    font-family: "Roboto";
    text-align: center;
    margin: 41px 32px 57px;
}

@media(min-width: 768px) {
    .parrafo-seccion-dos {
        margin: 0;
        margin-right: 10%;
        text-align: left;
        margin-left: 50%;
    }
}

.check {
    height: 100px;
}

@media(min-width: 768px) {
    .check {
        padding: 0;
        height: 211px;
        width: 211px;
        margin-left: 20%;
        margin-top: -241px;
    }
}

.seccion-tres {
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 538px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

@media(min-width: 768px) {
    .seccion-tres {
        width: 100%;
    }
}

.contenedor-servicios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(min-width: 768px) {
    .contenedor-servicios {
        flex-direction: row;
    }
}

.mis-servicios {
    font-family: "Open Sans";
    color: #2C2C2C;
    text-align: center;
    font-size: 32px;
    letter-spacing: -2px;
}

@media(min-width: 768px) {
    .mis-servicios {
        margin: 0;
        margin-bottom: 76px;
        font-size: 48px;
    }
}

.servicios1 {
    display: flex;
    flex-direction: column;
    margin: 40px 52px;
    align-items: center;
    gap: 15px;
}

.span-servicios1 {
    font-family: "Roboto";
    color: #2C2C2C;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.tarjeta1 {
    height: 138px;
    width: 138px;
}

.parrafo-hago-cosas {
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 61px;
}

.seccion-cuatro {
    background-color: #141414;
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .seccion-cuatro {
        width: 100%;
        height: 660px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


.escribeme {
    margin-top: 65px;
    width: 271px;
    color: #FAFAFA;
    font-family: "Open Sans";
    text-align: center;
    font-size: 32px;
    letter-spacing: -2px;
}

@media(min-width: 768px) {
    .escribeme {
        margin-bottom: 450px;
        font-size: 48px;
    }
}


.contenedor-form {
    font-family: "Roboto";
    font-size: 13px;
    margin-top: -150px;
}

.form {
    display: grid;
    gap: 25px;
}


.fieldset1 {
    padding-top: 162px;
    gap: 9px;
    display: grid;
}

@media(min-width: 768px) {
    .fieldset1 {
        padding-top: 130px;
    }
}

.fieldset2 {
    display: grid;
    gap: 9px;
}

.fieldset3 {
    display: grid;
    gap: 9px;
}

.label-nombre,
.label-email,
.label-mensaje {
    color: white;
}

.rectangulo-nombre,
.input-email {
    height: 45px;
    width: 335px;
}

.rectangulo-mensaje {
    height: 113px;
    width: 335px;
    border-radius: 4px;
    
}

.seccion-boton {
    margin-top: 40px;
    align-items: center;
}

.boton {
    background-color: #FFD953;
    height: 45px;
    width: 335px;
    font-size: 16px;
    border-radius: 4px;
}

.seccion-cinco {
    background-color: #DBDBDB;
    height: 493px;
    width: 100%;
}

@media(min-width: 768px) {
    .seccion-cinco {
        height: 346px;
        width: 100%;
        background-color: #C4C4C4;
        background-image: url("./img/puntitos-2.png");
        display: flex;
        justify-content: space-between;
    }
}

.logo-en-redes {
    width: 77px;
    height: 71px;
    margin-top: 53px;
    margin-left: 8px;
}

@media(min-width: 768px) {
    .logo-en-redes {
        margin-top: 98px;
        margin-left: 80px;
        height: 103px;
        width: 112px;
    }
}

.copy-right {
    margin: 18px 0 0 20px;
}

@media(min-width: 768px) {
    .copy-right {
        margin-left: 95px;
    }
    .contenedor-redes {
        margin-right: 10%;
        margin-top: 95px;
    }
}

.instagram {
    display: flex;
    margin-top: 85px;
    margin-left: 19px;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
}

@media(min-width: 768px) {
    .instagram {
        margin: 0;
    }
}

.logo-instagram {
    width: 27px;
    height: 27px;
    left: 19px;
}

.parrafo-instagram {
    font-family: "Roboto";
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

.linkedin,
.github {
    margin-top: 25px;
    margin-left: 19px;
    cursor: pointer;
}

@media(min-width: 768px) {
    .linkedin,
    .github {
        margin-left: 0;
    }
}

.linkedin {
    display: block;
    margin-bottom: 0;
}